@import "../../styles/variables.scss";

.page_item {
  @include display-flex;
  list-style-type: none;
  cursor: pointer;
}

.page_link {
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid $mainWhite;
  margin: 0 4px;

  &:hover:not(.page_active) {
    background-color: $mainWhite;
  }
}

.page_active {
  background-color: $thirdColor;
  color: $secWhite;
  border: 1px solid $thirdColor;
}
