@use "../../styles/forwarded.scss";

.page_item {
  @include forwarded.display-flex();
  list-style-type: none;
  cursor: pointer;
}

.page_link {
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid forwarded.$mainWhite;
  margin: 0 4px;

  &:hover:not(.page_active) {
    background-color: forwarded.$mainWhite;
  }
}

.page_active {
  background-color: forwarded.$thirdColor;
  color: forwarded.$secWhite;
  border: 1px solid forwarded.$thirdColor;
}
