// [common]

// __wrapper-outer

@mixin wrapper-outer {
  padding-top: 50px;
  padding-left: 70px;
  padding-right: 70px;
}

// __wrapper-inner

@mixin wrapper-inner {
  max-width: 1100px;
  margin: 0 auto;
}

// __display-flex

@mixin display-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin mainFont {
  font-family: "Roboto", sans-serif;
}

// [edit/delete]

// __btn

@mixin large-btn {
  width: 100%;
  background-color: var(--background-color);
  color: var(--mainBlack);
  border: 1px solid var(--mainBlack);
  padding: 14px 20px;
  margin: 8px 0;
  border-radius: 4px;
  cursor: pointer;
}

// __underline

@mixin config-underline-head {
  border-bottom: 2px solid;
  text-transform: uppercase;
}

// __info

@mixin config-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
