// :root {
//   --mainBlack: rgb(37, 37, 37);
//   --mainGray: #394551;
//   --mainWhite: rgb(162, 162, 162);
//   --secWhite: #f1f7fd;
//   --thirdColor: #4caf50;
// }

$mainBlack: rgb(37, 37, 37);
$mainGray: #394551;
$mainWhite: rgb(162, 162, 162);
$secWhite: #f1f7fd;
$thirdColor: #4caf50;

$maxWidth: 1000px;
