$mainBlack: rgb(37, 37, 37);
$mainGray: #394551;
$mainWhite: rgb(162, 162, 162);
$secWhite: #f1f7fd;
$thirdColor: #4caf50;

// [common]

// __display-flex

@mixin display-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin mainFont {
  font-family: "Roboto", sans-serif;
}

// [edit/delete]

// __btn

@mixin large-btn {
  width: 100%;
  background-color: #e2e8ee;
  color: rgb(37, 37, 37);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  &:hover {
    border: 1px solid #6c757d;
    background-color: #e2e8ee;
  }
}

// __underline

@mixin config-underline-head {
  border-bottom: 2px solid;
  text-transform: uppercase;
}

// __info

@mixin config-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
