@import "../../styles/variables.scss";
$hooverColor: #0345bf;

.header_outer_block {
  padding-right: 60px;
  padding-left: 60px;
  // padding-top: 20px;
  // padding-bottom: 20px;
  background-color: $secWhite;
}

.header_inner_block {
  max-width: 1140px;
  @include display-flex;
  margin: 0 auto;
  color: $mainBlack;
}

.header__logo {
  display: flex;
  flex-direction: column;
  flex: 0.5;
  .header__logo_title {
    @include mainFont;
  }
  .header__logo_subtitle {
    text-transform: uppercase;
    font-size: 18px;
  }
}

.header__nav {
  @include mainFont;
  .header__list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;

    .header__list_el {
      position: relative;
      display: block;
      padding-bottom: 20px;
      padding-top: 20px;
    }

    .header__list_el + .header__list_el {
      margin-left: 28px;
    }

    .header__link {
      color: $mainBlack;
      &:hover {
        color: $hooverColor;
      }
    }
  }
}

.header__dropdown {
  position: absolute;
  left: 0;
  width: 250px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid $mainBlack;

  .header__alphabet {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.25rem;
  }
}

.alphabet__link {
  background-color: $secWhite;
  height: 2.5rem;
  width: 2.5rem;
  @include display-flex;
  border-radius: 50%;
}

.active_link {
  border-bottom: 2px solid $mainBlack;
  color: $hooverColor;
}

.browser_link {
  position: relative;
}

.browser_link::after {
  position: absolute;
  content: "\25BC";
  font-size: 13px;
  top: 1px;
  left: 2px;
}
