@import "../../styles/variables.scss";

.letter_link {
  text-align: center;
}

.letter_paragraph {
  @include mainFont;
  color: $mainBlack;
  &:hover {
    text-decoration: underline;
    color: $thirdColor;
    cursor: pointer;
  }
}
