@use "../../styles/forwarded.scss";

.letter_link {
  text-align: center;
}

.letter_paragraph {
  @include forwarded.mainFont();
  color: forwarded.$mainBlack;
  &:hover {
    text-decoration: underline;
    color: forwarded.$thirdColor;
    cursor: pointer;
  }
}
