@use "../../styles/forwarded.scss";

.wrapper_outer {
  @include forwarded.wrapper-outer();
  @include forwarded.mainFont();
}

.wrapper_inner {
  @include forwarded.wrapper-inner();
}

.letters_block {
  color: var(--mainBlack);
}

.head_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .button {
    border: 1px solid var(--mainBlack);
    padding: 5px;
    color: var(--mainBlack);
    background-color: var(--secWhite);
    cursor: pointer;
  }
}
