@use "../../styles/forwarded.scss";

.wrapper_outer {
  @include forwarded.wrapper-outer();
  @include forwarded.mainFont();
}

.wrapper_inner {
  @include forwarded.wrapper-inner();
}

.letters_block {
  color: var(--mainBlack);
}

.head_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
