@import "../../styles/variables.scss";

.home_outer {
  padding-top: 60px;
  padding-left: 35px;
  padding-right: 35px;
}

.home_inner {
  max-width: 1140px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  color: $mainBlack;
}

.welcome {
  @include display-flex;
}

.welcome__welcome-words {
  font-size: 45px;
}

.welcome__logo {
  color: $mainGray;
}

.welcome__descr {
  font-size: 20px;
}

.welcome__excplict {
  font-size: 12px;
}

.welcome__img {
  padding-left: 100px;
}

.find {
  padding-top: 60px;
  padding-bottom: 60px;

  &__title {
    padding-bottom: 15px;
  }
}

.form {
  height: 30px;
  width: 100%;

  .search_form,
  .search_button {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    height: 100%;
  }

  .search_form {
    width: 80%;
    border: 1px solid #ccc;
    border-right: none;
    border-radius: 2px 0 0 2px;
    box-shadow: 0 1px 0 hsla(210, 65%, 9%, 0.02) inset,
      0 0 2px hsla(210, 65%, 9%, 0.1) inset, 0 1px 0 hsla(0, 0%, 100%, 0.2);
    padding: 0 4px;
    outline: none;
    float: left;
    &:focus {
      outline: none;
      border: 1px solid $mainGray;
    }
  }

  .search_button {
    width: 20%;
    border: 1px solid $mainGray;
    border-radius: 0 2px 2px 0;
    background-color: $secWhite;
    float: right;
    position: relative;
    left: -2px;

    &:hover,
    &:active {
      transition: all 0.2s ease-in-out;
    }

    &:hover {
      border: 1px solid $mainGray;
      background-color: $secWhite;
    }

    &:active {
      outline: none;
      border: 1px solid $mainGray;
      background-color: $secWhite;
    }
  }
}
