@use "../../styles/forwarded.scss";

.home_outer {
  padding-top: 60px;
  padding-left: 35px;
  padding-right: 35px;
}

.home_inner {
  max-width: 1140px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  color: var(--mainBlack);
}

.welcome {
  @include forwarded.display-flex();
}

.welcome__welcome-words {
  font-size: 45px;
}

.welcome__logo {
  color: var(--mainGray);
}

.welcome__descr {
  font-size: 20px;
}

.welcome__excplict {
  font-size: 12px;
}

.welcome__img {
  padding-left: 100px;
}
