@use "../../styles/forwarded.scss";
$letterColor: #6c757d;

.wrapper_outer {
  @include forwarded.wrapper_outer();
  @include forwarded.mainFont();
}

.wrapper_inner {
  @include forwarded.wrapper-inner();
}

.letters_block {
  color: forwarded.$mainBlack;

  & span {
    color: $letterColor;
  }
}
