.wrapper_outer {
  padding-top: 50px;
  padding-left: 70px;
  padding-right: 70px;
}

.wrapper_inner {
  max-width: 1000px;
  margin: 0 auto;
}

.letters_block {
  color: #252525;
}

.letters_block span {
  color: #6c757d;
}
