@import "../../styles/variables.scss";

footer {
  background-color: $mainGray;
  padding-top: 5px;
  padding-bottom: 5px;
  color: $mainWhite;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 12px;

  a {
    color: $mainWhite;
    &:hover {
      color: #fff;
    }
    transition: 0.4s;
  }
}
