@use "../../styles/forwarded.scss";

footer {
  background-color: var(--secWhite);
  padding-top: 5px;
  padding-bottom: 5px;
  color: var(--mainWhite);
  @include forwarded.mainFont();
  text-align: center;
  font-size: 12px;

  a {
    color: var(--mainWhite);
    &:hover {
      color: #fff;
    }
    transition: 0.4s;
  }
}
