@import "../../styles/variables.scss";

.delete {
  font-family: "Roboto", sans-serif;
  &__head {
    @include config-underline-head;
  }
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
  }
  &__descr {
    margin: 8px 0;
    span {
      text-transform: uppercase;
    }
  }
  &__btn {
    @include large-btn;
  }
}
