@use "../../styles/forwarded.scss";

.delete {
  @include forwarded.mainFont();
  &__head {
    @include forwarded.config-underline-head();
    color: var(--mainBlack);
  }
  &__info {
    @include forwarded.config-info();
  }
  &__descr {
    color: var(--mainBlack);
    margin: 8px 0;
    span {
      text-transform: uppercase;
    }
  }
  &__btn {
    @include forwarded.large-btn();
  }
}
